[package]
name = "cases"
version = "0.0.8"
edition = "2021"

[dependencies]
askama = { version = "0.12", default-features = false }
axum = { version = "0.8.1", features = ["http2", "query", "tokio", "http1"], default-features = false }
basic-toml = "*"
bincode = "2.0.0-rc.3"
csv = "1"
fjall = { version = "2.5.0", default-features = false, features = ["bloom", "single_writer_tx", "miniz"] }
indexmap = "2"
serde = { version = "1", features = ["derive"] }
stop-words = "0.8.0"
tantivy = "0.22.0"
tantivy-jieba = "0.11.0"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
tower = "0.5.2"
tower-http = { version = "0.6.1", features = ["compression-zstd", "timeout"] }
tracing = { version = "0.1", features = ["release_max_level_info", "max_level_info"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
zip = { version = "2.2.0", default-features = false, features = ["deflate"] }

[dev-dependencies]
jieba-rs = "0.7.2"

[profile.release]
lto = "fat"
strip = true
codegen-units = 1
panic = "abort"
rpath = false
