[package]
name = "cases"
version = "0.0.6"
edition = "2021"

[dependencies]
askama = { version = "0.12", default-features = false }
axum = { version = "0.7", features = ["http2", "query", "tokio", "http1"], default-features = false }
basic-toml = "*"
bincode = "1.3.3"
csv = "1"
indexmap = "2"
once_cell = "1"
rocksdb = "0.22.0"
serde = { version = "1", features = ["derive"] }
stop-words = "0.8.0"
tantivy = "0.22.0"
tantivy-jieba = "0.10.0"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
tower = "0.4.13"
tower-http = { version = "0.5.2", features = ["compression-br", "trace", "timeout"] }
tracing = { version = "0.1", features = ["release_max_level_info", "max_level_info"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
zip = { version = "0.6", default-features = false, features = ["deflate"] }
zstd-sys = "=2.0.9"

[dev-dependencies]
jieba-rs = "0.6"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.5"

[profile.release]
lto = "fat"
strip = true
codegen-units = 1
panic = "abort"
rpath = false
