[package]
name = "cases"
version = "0.0.6"
edition = "2021"

[dependencies]
askama = { version = "0.12", default-features = false }
axum = { version = "0.7", features = ["http2", "query", "tokio", "http1"], default-features = false }
basic-toml = "*"
bincode = "1.3.3"
csv = "1"
indexmap = "2"
rocksdb = { version = "0.22.0", default-features = false, features = ["zstd"] }
serde = { version = "1", features = ["derive"] }
stop-words = "0.8.0"
tantivy = { version = "0.22.0", default-features = false, features = ["zstd", "mmap", "stopwords"] }
tantivy-jieba = "0.11.0"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
tower = "0.5.1"
tower-http = { version = "0.6.1", features = ["compression-zstd", "trace", "timeout"] }
tracing = { version = "0.1", features = ["release_max_level_info", "max_level_info"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
zip = { version = "2.2.0", default-features = false, features = ["deflate"] }

[dev-dependencies]
jieba-rs = "0.7.0"

[profile.release]
lto = "fat"
strip = true
codegen-units = 1
panic = "abort"
rpath = false
